In [8]:
import pandas as pd
import numpy as np

import plotly.plotly as py
import plotly.graph_objs as go

import plotly
#plotly.tools.set_credentials_file(username='', api_key='')

In [9]:
df = pd.read_csv('df_final.csv')

In [10]:
df['Fecha'] = pd.to_datetime(df['Fecha'])

In [11]:
df.set_index('Fecha')

,contaminante,paro,Agricultura,Industria manufacturera,Construccion,Comercio,Hosteleria,Actividades administrativas,Administraciones publicas,Sector sanitario
Fecha,,,,,,,,,,
2002-03-31,35.112357,11.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-04-30,34.246774,11.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-05-31,29.014845,11.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-06-30,35.952304,11.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-07-31,34.648614,11.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-08-31,27.835951,11.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-09-30,29.498977,11.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-10-31,29.704568,11.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-30,27.085234,11.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-31,26.863580,11.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-31,24.812479,11.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-02-28,25.993710,11.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-03-31,38.067317,11.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-04-30,29.736321,11.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-05-31,30.096026,11.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-06-30,39.753812,11.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-07-31,33.494597,11.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-08-31,33.645129,11.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-09-30,27.977213,11.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-10-31,21.944123,11.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-11-30,28.220019,11.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-12-31,22.810386,11.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-31,22.208213,11.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-02-29,35.577635,11.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-03-31,34.543537,11.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-04-30,21.621801,11.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-05-31,26.338370,11.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-06-30,31.735655,11.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-07-31,35.769257,11.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-08-31,26.395983,11.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2014-07-31,18.617661,24.47,4.6,3.5,4.6,6.0,5.4,2.4,2.3,1.6
2014-08-31,18.686920,24.47,4.6,3.5,4.6,6.0,5.4,2.4,2.3,1.6
2014-09-30,20.689025,23.67,5.3,3.3,4.1,5.7,5.3,2.0,2.4,1.3
2014-10-31,24.765134,23.67,5.3,3.3,4.1,5.7,5.3,2.0,2.4,1.3
2014-11-30,23.278579,23.67,5.3,3.3,4.1,5.7,5.3,2.0,2.4,1.3
2014-12-31,17.879183,23.70,5.0,3.5,4.2,5.5,6.0,2.2,2.5,1.6
2015-01-31,20.498432,23.70,5.0,3.5,4.2,5.5,6.0,2.2,2.5,1.6
2015-02-28,18.960200,23.70,5.0,3.5,4.2,5.5,6.0,2.2,2.5,1.6
2015-03-31,21.428050,23.78,5.2,3.5,4.1,5.7,6.4,2.4,2.5,1.8
2015-04-30,20.854529,23.78,5.2,3.5,4.1,5.7,6.4,2.4,2.5,1.8
2015-05-31,21.844693,23.78,5.2,3.5,4.1,5.7,6.4,2.4,2.5,1.8
2015-06-30,20.558683,22.37,4.9,3.1,4.0,6.1,5.3,2.4,2.9,1.8
2015-07-31,25.231784,22.37,4.9,3.1,4.0,6.1,5.3,2.4,2.9,1.8
2015-08-31,20.670335,22.37,4.9,3.1,4.0,6.1,5.3,2.4,2.9,1.8
2015-09-30,17.744804,21.18,5.3,3.3,4.0,5.7,5.4,2.1,3.5,1.5
2015-10-31,19.242708,21.18,5.3,3.3,4.0,5.7,5.4,2.1,3.5,1.5
2015-11-30,22.327421,21.18,5.3,3.3,4.0,5.7,5.4,2.1,3.5,1.5
2015-12-31,34.644828,20.90,4.7,3.3,4.3,5.8,6.7,2.4,3.4,1.9
2016-01-31,20.215709,20.90,4.7,3.3,4.3,5.8,6.7,2.4,3.4,1.9
2016-02-29,22.846952,20.90,4.7,3.3,4.3,5.8,6.7,2.4,3.4,1.9
2016-03-31,16.490487,21.00,5.4,3.5,4.3,6.7,6.7,2.4,3.3,1.9
2016-04-30,14.965678,21.00,5.4,3.5,4.3,6.7,6.7,2.4,3.3,1.9
2016-05-31,16.677103,21.00,5.4,3.5,4.3,6.7,6.7,2.4,3.3,1.9
2016-06-30,19.827451,20.00,5.5,3.6,3.9,6.6,6.4,2.4,3.3,1.9
2016-07-31,22.514125,20.00,5.5,3.6,3.9,6.6,6.4,2.4,3.3,1.9
2016-08-31,21.615365,20.00,5.5,3.6,3.9,6.6,6.4,2.4,3.3,1.9
2016-09-30,19.828938,18.91,5.6,3.5,4.0,6.1,5.5,2.3,3.1,1.5
2016-10-31,22.152234,18.91,5.6,3.5,4.0,6.1,5.5,2.3,3.1,1.5
2016-11-30,18.917833,18.91,5.6,3.5,4.0,6.1,5.5,2.3,3.1,1.5
2016-12-31,18.779441,18.63,5.1,3.7,4.1,6.4,7.2,2.5,2.8,2.3


<h3>Dashboard de visualización</h3>


Elaboración del dashboard con los datos completos de la evolución de la tasa de paro, así como la tasa de paro de los principales sectores de actividad Vs.contaminación registrada en el país por meses

In [12]:
contaminante = go.Scatter(
                x=df.Fecha,
                y=df['contaminante'],
                name = "contaminante",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

paro_total = go.Scatter(
                x=df.Fecha,
                y=df['paro'],
                name = "paro",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

agricultura = go.Scatter(
                x=df.Fecha,
                y=df['Agricultura'],
                name = "Agricultura",
                line = dict(color = '#31B404'),
                opacity = 0.8)

manufacturera = go.Scatter(
                x=df.Fecha,
                y=df['Industria manufacturera'],
                name = "Industria manufacturera",
                line = dict(color = '#0000FF'),
                opacity = 0.8)


construccion = go.Scatter(
                x=df.Fecha,
                y=df['Construccion'],
                name = "Construccion",
                line = dict(color = '#e6e600'),
                opacity = 0.8)

comercio = go.Scatter(
                x=df.Fecha,
                y=df['Comercio'],
                name = "Comercio",
                line = dict(color = '#9900cc'),
                opacity = 0.8)

hosteleria = go.Scatter(
                x=df.Fecha,
                y=df['Hosteleria'],
                name = "Hosteleria",
                line = dict(color = '#ff8000'),
                opacity = 0.8)


administrativas = go.Scatter(
                x=df.Fecha,
                y=df['Actividades administrativas'],
                name = "Actividades administrativas",
                line = dict(color = '#669900'),
                opacity = 0.8)


admin_publicas = go.Scatter(
                x=df.Fecha,
                y=df['Administraciones publicas'],
                name = "Administraciones publicas",
                line = dict(color = '#0099ff'),
                opacity = 0.8)

sanitario = go.Scatter(
                x=df.Fecha,
                y=df['Sector sanitario'],
                name = "Sector sanitario",
                line = dict(color = '#ff99cc'),
                opacity = 0.8)



data = [contaminante,paro_total,agricultura,manufacturera,construccion,comercio, hosteleria,administrativas,admin_publicas,sanitario]

layout = dict(
    title = "Paro registrado total y por sectores vs. contaminación por PM10",
    xaxis = dict(
        range = ['2002-03-31','2016-12-31'])
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename = "manual")

**Nota:** Existe un pico de contaminación claramente visible en los meses de diciembre y de enero de 2016. Al tratarse de mediciones de 
partículas PM10 y como se explica en la memoria, los meses de invierno son muy propicios para una elevada tasa
de contaminación (se puede comprobar en el dashboard). Ese año fue especialmente seco y como confirman los datos 
del Ministerio se produjo una utilización masiva de medios de producción de electricidad procedentes de residuos 
fósiles y muy poca de energía renovable (principalmente hidroeléctrica)