In [2]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
%matplotlib inline

In [5]:
df = pd.read_excel('datos/PM_10/PM10_DD_2001.xlsx', sep=";")

In [6]:
df.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,D01,D02,D03,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,8,196,1,10,08196001_10_M,2001,5,NaN,55.0,65.0,...,NaN,58.0,54.0,NaN,NaN,NaN,65.0,NaN,74.0,100.0
1,8,196,1,10,08196001_10_M,2001,4,NaN,103.0,NaN,...,NaN,99.0,NaN,68.0,71.0,NaN,NaN,NaN,NaN,NaN
2,8,196,1,10,08196001_10_M,2001,3,NaN,69.0,NaN,...,128.0,NaN,NaN,NaN,79.0,NaN,78.0,107.0,NaN,NaN
3,8,196,1,10,08196001_10_M,2001,2,NaN,63.0,NaN,...,107.0,NaN,NaN,NaN,NaN,67.0,63.0,NaN,NaN,NaN
4,8,196,1,10,08196001_10_M,2001,1,NaN,29.0,46.0,...,NaN,103.0,78.0,75.0,NaN,NaN,NaN,NaN,49.0,67.0

In [7]:
df_ordenado_por_meses= df.sort_values(by=['MES'])

In [9]:
lista_meses = df_ordenado_por_meses['MES'].unique()

Contamos el número de estaciones que realizan datos por cada mes:

In [10]:
suma = 0
for x in lista_meses:
    suma += len(df[df['MES']==x])
    print('{}{}{}{}'.format('Mes ',x,' Total observatorios: ',len(df[df['MES']==x])))

# comprobamos que coincide el número de registros con la suma de las repeticiones de los meses
print("Total observaciones: ",suma)

Mes 1 Total observatorios: 31
Mes 2 Total observatorios: 31
Mes 3 Total observatorios: 40
Mes 4 Total observatorios: 40
Mes 5 Total observatorios: 40
Mes 6 Total observatorios: 39
Mes 7 Total observatorios: 40
Mes 8 Total observatorios: 40
Mes 9 Total observatorios: 40
Mes 10 Total observatorios: 41
Mes 11 Total observatorios: 40
Mes 12 Total observatorios: 40
Total observaciones:  462

In [11]:
lista_dias_del_meses = [31,28,31,30,31,30,31,31,30,31,30,31]

Nos interesa únicamente las mediciones diarias por meses de todas las estaciones, para poder sacar el valor mensual del contaminante:

In [12]:
df_datos_diarios_por_mes = df_ordenado_por_meses.iloc[:,6:]

In [14]:
mes1 = df_datos_diarios_por_mes[df_datos_diarios_por_mes['MES']==1].iloc[:,1:]

Estudiando el dataset proporcionado, observamos que cada estación medidora proporciona una cantidad distinta de datos
por mes. Según los datos del Ministerio esto puede ser debido a causas técnicas. Por ello es necesario tratar las 
observaciones de la siguiente manera:

- Obtención de la media mensual por cada estación
- Media del conjunto total de estaciones por meses, ya que hemos visto que no existe un número igual por cada mes 

Al tener los valores NaN en el dataset la función .mean no los tendrá en cuenta y obtendrá la media con los datos 
reales por día

In [18]:
medias_por_dia_mes = df_datos_diarios_por_mes[df_datos_diarios_por_mes['MES']==1].iloc[:,1:].mean()

In [19]:
medias_por_dia_mes

D01    56.500000
D02    24.708333
D03    35.176471
D04    44.454545
D05    47.687500
D06    35.666667
D07    29.000000
D08    39.833333
D09    69.700000
D10    72.500000
D11    65.434783
D12    54.000000
D13    51.000000
D14    60.500000
D15    28.809524
D16    58.100000
D17    66.117647
D18    66.100000
D19    46.923077
D20    48.500000
D21    65.000000
D22    58.826087
D23    52.947368
D24    44.117647
D25    33.526316
D26    26.533333
D27    37.250000
D28    30.666667
D29    30.904762
D30    34.684211
D31    50.933333
dtype: float64

In [20]:
media_mes_1 = medias_por_dia_mes.mean()

In [21]:
media_mes_1

47.293600121500546

In [22]:
len(medias_por_dia_mes)

31

In [23]:
medias_por_dia_mes.sum()/31

47.293600121500546

<h3>Automatizar el proceso para cada mes: </h3>

In [24]:
totales = []

for x in lista_meses:
    medias_por_dia_mes = df_datos_diarios_por_mes[df_datos_diarios_por_mes['MES']== x ].iloc[:,1:].mean()
    media_por_mes = medias_por_dia_mes.mean()   
    totales.append(media_por_mes)

In [25]:
totales

[47.293600121500546,
 55.12832770668076,
 32.60609223349655,
 28.833526303889805,
 31.295070023254656,
 32.78615552600111,
 30.895708835414467,
 31.05572652451532,
 29.5031078633107,
 31.72375908131748,
 28.172920269021255,
 30.501190599587055]

In [26]:
serie = pd.Series(totales)

In [27]:
serie

0     47.293600
1     55.128328
2     32.606092
3     28.833526
4     31.295070
5     32.786156
6     30.895709
7     31.055727
8     29.503108
9     31.723759
10    28.172920
11    30.501191
dtype: float64