In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
df = pd.read_csv('datos/2013/Diarios/As_2013_DD.csv', sep=";")

In [108]:
df.iloc[28]

PROVINCIA                    46
MUNICIPIO                   250
ESTACION                     43
MAGNITUD                     17
PUNTO_MUESTREO    46250043_17_M
ANNO                       2013
MES                           1
D01                         NaN
D02                         NaN
D03                        0.35
D04                         NaN
D05                        0.35
D06                         NaN
D07                         NaN
D08                        0.35
D09                         NaN
D10                        0.35
D11                         NaN
D12                        0.35
D13                         NaN
D14                         NaN
D15                         NaN
D16                         NaN
D17                         NaN
D18                         NaN
D19                         NaN
D20                         NaN
D21                         NaN
D22                         NaN
D23                         NaN
D24                         NaN
D25                         NaN
D26                         NaN
D27                         NaN
D28                         NaN
D29                         NaN
D30                        0.35
D31                         NaN
Name: 28, dtype: object

In [104]:
len(df[df['MES']==1])

98

In [100]:
df[df['MES']==1].isnull().sum(axis=1)

8       24
19      30
28      25
41      25
43      12
53      27
56      22
65      18
88      18
94      18
113     22
117     18
127     18
132     18
158     20
164     21
169     18
179     22
193     18
204     18
224     18
225     18
237     22
253     27
265     27
280     26
292     26
301     26
324     26
333     27
        ..
798     26
810     27
833     27
845     27
856     26
868     26
880     27
891     26
903     26
915     26
926     26
938     26
949     27
965      0
978     15
984     28
995     11
1007     8
1029    27
1041    29
1053    29
1063    27
1069    25
1108    19
1109    25
1115    12
1120    12
1137    21
1155    13
1167    29
Length: 98, dtype: int64

In [111]:
lista = df[df['MES']==1].isnull().sum(axis=1).tolist()

In [113]:
len(lista)

98

In [133]:
mes1 = df[df['MES']==1]

In [146]:
mes1_acortado = mes1.iloc[:,7:]

In [149]:
mes1_acortado.head()

,D01,D02,D03,D04,D05,D06,D07,D08,D09,D10,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,0.35,NaN,0.35,NaN,NaN,0.35,NaN,0.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35,NaN
41,NaN,NaN,0.35,NaN,0.35,NaN,NaN,0.35,NaN,0.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.41,0.15,...,0.0,NaN,NaN,0.05,NaN,0.16,0.05,NaN,0.37,0.19

In [154]:
mes1_acortado.iloc[0].isnull().sum()

24

In [162]:
lista_dia_meses = [31,28,31,30,31,30,31,31,30,31,30,31]

In [165]:
lista_dia_meses[3]

30

In [ ]:
# definir función para recorrer todos los días por cada mes, obteniendo la media diviendo para ello entre el número
# de días que existen mediciones

In [160]:
media_mes1 = (mes1_acortado.iloc[0].sum())/(31-24)

In [161]:
media_mes1

0.35000000000000003

In [132]:
df.iloc[:,7:]

,D01,D02,D03,D04,D05,D06,D07,D08,D09,D10,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.350,NaN,1.5000,NaN,NaN,1.6400,1.6400,NaN,NaN,0.9500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6700,NaN,NaN
2,1.390,NaN,NaN,1.6600,1.6600,NaN,NaN,1.1000,NaN,2.3400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6900,NaN,NaN
3,2.210,1.660,NaN,2.7600,0.9700,NaN,0.8300,NaN,NaN,0.4200,...,NaN,NaN,0.9700,NaN,2.5000,NaN,NaN,3.6400,2.6500,NaN
4,1.260,1.120,NaN,5.5900,NaN,NaN,12.2700,NaN,1.8200,NaN,...,NaN,1.6700,NaN,NaN,1.1100,1.6600,NaN,0.5500,1.5100,NaN
5,NaN,NaN,1.3800,NaN,0.8400,NaN,0.9800,NaN,NaN,NaN,...,NaN,NaN,1.1100,2.2300,NaN,1.8100,2.3600,NaN,0.7000,NaN
6,NaN,1.690,NaN,1.9600,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2100,NaN,0.0700,NaN,NaN,0.5000,NaN,NaN,2.8300,NaN
7,NaN,0.570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.3700,NaN,0.1400,NaN,NaN,2.8800,NaN,0.7000,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3500,NaN,0.3500,...,NaN,0.3500,NaN,0.3500,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,0.3500,NaN,0.3500,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0.350,NaN,0.8200,NaN,NaN,1.0900,0.3500,NaN,NaN,0.3500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7000,NaN,NaN
13,0.560,NaN,NaN,2.2300,3.2000,NaN,NaN,0.7000,NaN,1.2500,...,NaN,NaN,NaN,NaN,NaN,0.5500,NaN,0.5600,NaN,NaN
14,2.770,1.800,NaN,0.4200,1.9400,NaN,0.5500,NaN,NaN,NaN,...,NaN,NaN,0.5600,NaN,NaN,NaN,NaN,0.2800,0.9800,NaN
15,1.960,1.260,NaN,0.4200,NaN,NaN,0.7000,NaN,0.4200,NaN,...,NaN,0.7000,NaN,NaN,NaN,NaN,NaN,0.4200,0.6900,NaN
16,NaN,NaN,0.1400,NaN,0.1400,NaN,0.1400,NaN,NaN,NaN,...,NaN,NaN,0.8400,0.4200,NaN,0.9800,0.5600,NaN,0.1400,NaN
17,NaN,0.710,NaN,0.7100,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0000,NaN,0.0700,NaN,NaN,0.0700,NaN,NaN,0.1400,NaN
18,NaN,0.280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.8500,NaN,0.1400,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7000,NaN,1.0100,...,NaN,0.3500,NaN,0.3500,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5000,...,NaN,1.2400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,0.140,NaN,NaN,NaN,0.2800,NaN,NaN,0.2700,NaN,0.8200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,0.270,0.140,NaN,0.1400,0.2700,NaN,0.8200,NaN,NaN,0.2800,...,0.1400,NaN,0.2700,NaN,NaN,NaN,NaN,0.1400,0.2800,NaN
24,0.690,0.550,NaN,0.4100,NaN,NaN,0.4100,NaN,0.4100,NaN,...,NaN,0.2800,NaN,NaN,0.4100,0.4100,NaN,NaN,NaN,NaN
25,NaN,NaN,0.2700,NaN,NaN,NaN,NaN,NaN,NaN,0.2800,...,NaN,NaN,0.2800,0.4100,NaN,0.4100,0.5500,NaN,NaN,NaN
26,NaN,0.280,NaN,NaN,NaN,NaN,0.2800,NaN,NaN,NaN,...,0.0700,NaN,0.0700,NaN,NaN,0.2100,NaN,NaN,0.2800,NaN
27,NaN,0.420,NaN,NaN,0.7100,NaN,0.4200,NaN,NaN,0.4300,...,NaN,0.4200,NaN,0.1400,NaN,NaN,0.1400,NaN,0.2800,NaN
28,NaN,NaN,0.3500,NaN,0.3500,NaN,NaN,0.3500,NaN,0.3500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3500,NaN
29,0.350,NaN,NaN,0.3500,NaN,0.3500,NaN,0.3500,NaN,0.3500,...,NaN,0.3500,NaN,0.3500,NaN,NaN,0.3500,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1150,NaN,NaN,NaN,NaN,NaN,0.7000,NaN,NaN,NaN,NaN,...,NaN,0.7000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.8500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7000,NaN
1153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.7000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1154,0.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1155,NaN,NaN,NaN,0.1400,NaN,NaN,1.0000,0.5200,0.3600,0.4400,...,0.5100,NaN,NaN,NaN,NaN,NaN,0.3100,NaN,NaN,1.2000
1156,1.100,0.540,0.0770,0.1200,0.4100,1.8000,0.3400,0.4000,0.3300,0.7100,...,NaN,NaN,0.6200,NaN,NaN,NaN,0.4100,NaN,NaN,NaN
1157,0.890,0.220,0.2500,0.5400,0.4100,0.5700,0.4700,0.2600,0.2300,1.2000,...,NaN,NaN,NaN,0.8400,0.6200,0.1700,0.2100,0.1900,0.2000,0.1300
1158,0.360,0.390,0.2400,0.1400,0.3500,0.5900,0.9200,NaN,NaN,NaN,...,0.9700,0.2500,0.2900,0.6400,1.3000,0.7500,0.7400,0.8400,0.5800,NaN
1159,0.230,2.100,2.1000,1.8000,1.9000,NaN,0.1700,NaN,NaN,NaN,...,NaN,0.0050,0.0050,0.0050,0.0050,0.0050,0.0050,0.0050,0.0050,0.0050
1160,0.005,0.005,NaN,NaN,NaN,0.2800,NaN,NaN,NaN,NaN,...,0.0050,0.1200,0.0470,0.1700,0.2400,0.2800,0.0099,0.2300,0.2300,NaN
1161,NaN,NaN,NaN,NaN,NaN,0.1500,NaN,0.2100,0.1700,0.3400,...,NaN,NaN,6.0000,NaN,NaN,NaN,NaN,NaN,7.2000,1.0000
1162,0.750,0.230,0.7500,0.3300,0.4500,1.1000,1.3000,0.8700,0.4900,0.2300,...,NaN,0.4200,NaN,NaN,0.3400,0.3400,0.3100,0.2200,0.1700,0.1900
1163,0.390,0.370,0.2300,0.2000,0.2300,0.3700,0.7300,0.2500,NaN,0.6700,...,0.1600,0.2300,0.2300,0.3800,0.4200,0.5500,0.1500,0.1500,NaN,NaN
1164,0.380,4.900,5.6000,1.2000,0.4700,0.2800,NaN,NaN,NaN,0.1700,...,0.2600,0.3400,0.8400,0.6000,0.3700,0.2000,1.4000,0.4900,0.5000,0.1700
1165,0.180,0.170,0.7900,0.6000,NaN,NaN,NaN,NaN,0.5700,NaN,...,0.5300,0.4400,0.3600,0.6800,1.0000,0.7100,0.4900,0.4900,0.9300,NaN
1166,0.330,NaN,0.1600,NaN,NaN,NaN,NaN,NaN,0.2000,NaN,...,0.1200,0.2200,0.3800,0.4000,0.2800,0.2100,0.3200,0.2300,NaN,NaN
1167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1168,NaN,NaN,NaN,NaN,0.2000,0.2000,0.2000,0.2000,NaN,NaN,...,NaN,NaN,0.2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1169,NaN,NaN,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,NaN,NaN
1170,0.200,NaN,NaN,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,...,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,NaN,NaN,NaN
1171,0.200,NaN,NaN,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,...,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,NaN,NaN,0.2000
1172,NaN,NaN,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,NaN,...,NaN,NaN,0.2000,NaN,NaN,NaN,NaN,NaN,0.2000,NaN
1173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1174,NaN,NaN,NaN,NaN,0.4300,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2200,NaN,NaN
1175,NaN,NaN,NaN,0.2400,NaN,NaN,NaN,NaN,NaN,0.3000,...,0.2400,NaN,NaN,NaN,NaN,NaN,0.1800,NaN,NaN,NaN
1176,NaN,NaN,NaN,0.3100,NaN,NaN,NaN,NaN,NaN,0.2900,...,0.2400,NaN,NaN,NaN,NaN,NaN,0.3800,NaN,NaN,NaN
1177,NaN,NaN,0.2700,NaN,NaN,NaN,NaN,0.2100,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,NaN
1178,NaN,NaN,0.2300,NaN,NaN,NaN,NaN,NaN,0.2600,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Totales,489.553,576.840,497.3304,610.7604,594.8734,512.2366,610.7984,584.1416,483.0188,613.0364,...,701.5816,556.7782,521.3478,574.1838,456.0924,512.2574,514.6596,474.8842,528.6306,329.3188

In [10]:
meses = df.groupby('MES').sum()

In [12]:
meses

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,ANNO,D01,D02,D03,D04,D05,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
MES,,,,,,,,,,,,,,,,,,,,,
1,1827,8694,1904,1666,197274,9.2100,15.150,28.7500,17.0400,11.6900,...,17.3540,18.0600,11.0500,17.1239,12.6400,20.7200,31.0790,24.7000,32.9300,27.3313
2,1835,8868,1907,1683,199287,22.8800,10.660,11.1370,28.0000,18.5700,...,18.8700,17.9200,21.2415,32.8100,18.4600,16.2400,29.9500,NaN,NaN,NaN
3,1840,8806,1925,1683,199287,22.6700,32.605,10.8900,27.5200,37.6900,...,17.2800,21.4200,14.7500,26.3800,33.7112,25.6300,23.6200,30.4000,13.8100,12.5300
4,1807,8731,1920,1666,197274,24.7715,21.280,19.7400,20.8600,15.0900,...,121.3100,24.7000,20.9000,31.6145,28.2700,13.9900,11.8800,18.3700,24.1900,NaN
5,1565,7041,1755,1394,165066,22.5800,17.160,23.1100,17.3600,36.9700,...,20.1500,19.2650,21.4150,24.6365,11.2050,20.6850,16.8150,18.4650,14.5450,38.7781
6,1959,8992,2918,1768,209352,20.1850,31.805,28.9900,18.0200,16.4100,...,19.1150,12.4300,34.5201,20.5400,17.9700,15.7100,17.5709,22.3500,17.7937,NaN
7,1937,8787,2918,1734,205326,27.8800,20.130,12.6600,26.9800,25.9200,...,16.9300,17.9400,37.5973,16.5100,8.3900,16.6300,7.4700,19.2000,35.3016,24.1600
8,1859,8752,2880,1717,203313,27.1800,20.960,11.1700,19.4600,43.8667,...,20.4700,35.2731,16.1700,11.3500,30.9200,13.9700,15.8800,37.7161,30.5500,12.8100
9,1787,8696,1930,1700,201300,28.7200,35.180,19.4600,39.0394,28.6100,...,49.0240,29.6110,17.5800,24.2400,25.0800,29.7800,15.6533,15.0810,25.4980,NaN
10,1890,8624,1912,1700,201300,12.1800,28.900,27.1900,28.9008,20.9000,...,20.7878,13.8800,25.6100,27.6100,11.5300,23.5400,44.8316,19.2500,21.9290,22.6600
11,1929,8840,1912,1700,201300,17.0600,21.560,19.8058,33.4200,18.7500,...,15.4400,16.9900,16.8000,38.3870,15.1000,33.7829,25.3200,21.1900,25.9600,NaN
12,1851,8726,1904,1632,193248,9.4600,33.030,35.7624,28.7800,22.9700,...,14.0600,50.9000,23.0400,15.8900,14.7700,25.4508,17.2600,10.7200,21.8080,26.3900

In [103]:
meses.drop(['PROVINCIA'], axis=1)

,MUNICIPIO,ESTACION,MAGNITUD,ANNO,D01,D02,D03,D04,D05,D06,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
MES,,,,,,,,,,,,,,,,,,,,,
1,8694,1904,1666,197274,9.2100,15.150,28.7500,17.0400,11.6900,6.9900,...,17.3540,18.0600,11.0500,17.1239,12.6400,20.7200,31.0790,24.7000,32.9300,27.3313
2,8868,1907,1683,199287,22.8800,10.660,11.1370,28.0000,18.5700,33.5431,...,18.8700,17.9200,21.2415,32.8100,18.4600,16.2400,29.9500,NaN,NaN,NaN
3,8806,1925,1683,199287,22.6700,32.605,10.8900,27.5200,37.6900,24.0900,...,17.2800,21.4200,14.7500,26.3800,33.7112,25.6300,23.6200,30.4000,13.8100,12.5300
4,8731,1920,1666,197274,24.7715,21.280,19.7400,20.8600,15.0900,18.4200,...,121.3100,24.7000,20.9000,31.6145,28.2700,13.9900,11.8800,18.3700,24.1900,NaN
5,7041,1755,1394,165066,22.5800,17.160,23.1100,17.3600,36.9700,20.9300,...,20.1500,19.2650,21.4150,24.6365,11.2050,20.6850,16.8150,18.4650,14.5450,38.7781
6,8992,2918,1768,209352,20.1850,31.805,28.9900,18.0200,16.4100,49.9415,...,19.1150,12.4300,34.5201,20.5400,17.9700,15.7100,17.5709,22.3500,17.7937,NaN
7,8787,2918,1734,205326,27.8800,20.130,12.6600,26.9800,25.9200,30.7137,...,16.9300,17.9400,37.5973,16.5100,8.3900,16.6300,7.4700,19.2000,35.3016,24.1600
8,8752,2880,1717,203313,27.1800,20.960,11.1700,19.4600,43.8667,15.3300,...,20.4700,35.2731,16.1700,11.3500,30.9200,13.9700,15.8800,37.7161,30.5500,12.8100
9,8696,1930,1700,201300,28.7200,35.180,19.4600,39.0394,28.6100,18.2500,...,49.0240,29.6110,17.5800,24.2400,25.0800,29.7800,15.6533,15.0810,25.4980,NaN
10,8624,1912,1700,201300,12.1800,28.900,27.1900,28.9008,20.9000,9.3000,...,20.7878,13.8800,25.6100,27.6100,11.5300,23.5400,44.8316,19.2500,21.9290,22.6600
11,8840,1912,1700,201300,17.0600,21.560,19.8058,33.4200,18.7500,15.4000,...,15.4400,16.9900,16.8000,38.3870,15.1000,33.7829,25.3200,21.1900,25.9600,NaN
12,8726,1904,1632,193248,9.4600,33.030,35.7624,28.7800,22.9700,13.2100,...,14.0600,50.9000,23.0400,15.8900,14.7700,25.4508,17.2600,10.7200,21.8080,26.3900

In [14]:
meses.loc[:,['MUNICIPIO','ESTACION']]

     MUNICIPIO  ESTACION
MES
1         8694      1904
2         8868      1907
3         8806      1925
4         8731      1920
5         7041      1755
6         8992      2918
7         8787      2918
8         8752      2880
9         8696      1930
10        8624      1912
11        8840      1912
12        8726      1904

In [15]:
 meses_limpios = meses.iloc[:,5:]

In [16]:
meses_limpios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 1 to 12
Data columns (total 31 columns):
D01    12 non-null float64
D02    12 non-null float64
D03    12 non-null float64
D04    12 non-null float64
D05    12 non-null float64
D06    12 non-null float64
D07    12 non-null float64
D08    12 non-null float64
D09    12 non-null float64
D10    12 non-null float64
D11    12 non-null float64
D12    12 non-null float64
D13    12 non-null float64
D14    12 non-null float64
D15    12 non-null float64
D16    12 non-null float64
D17    12 non-null float64
D18    12 non-null float64
D19    12 non-null float64
D20    12 non-null float64
D21    12 non-null float64
D22    12 non-null float64
D23    12 non-null float64
D24    12 non-null float64
D25    12 non-null float64
D26    12 non-null float64
D27    12 non-null float64
D28    12 non-null float64
D29    11 non-null float64
D30    11 non-null float64
D31    7 non-null float64
dtypes: float64(31)
memory usage: 3.0 KB

In [17]:
meses_limpios.head()

,D01,D02,D03,D04,D05,D06,D07,D08,D09,D10,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
MES,,,,,,,,,,,,,,,,,,,,,
1,9.2100,15.150,28.750,17.04,11.69,6.9900,18.1100,21.5700,17.03,41.12,...,17.354,18.060,11.0500,17.1239,12.6400,20.720,31.079,24.700,32.930,27.3313
2,22.8800,10.660,11.137,28.00,18.57,33.5431,12.7600,23.1600,14.34,23.29,...,18.870,17.920,21.2415,32.8100,18.4600,16.240,29.950,NaN,NaN,NaN
3,22.6700,32.605,10.890,27.52,37.69,24.0900,24.6700,95.1708,15.44,18.07,...,17.280,21.420,14.7500,26.3800,33.7112,25.630,23.620,30.400,13.810,12.5300
4,24.7715,21.280,19.740,20.86,15.09,18.4200,31.0631,24.7800,11.01,24.98,...,121.310,24.700,20.9000,31.6145,28.2700,13.990,11.880,18.370,24.190,NaN
5,22.5800,17.160,23.110,17.36,36.97,20.9300,52.5361,14.0900,17.06,15.49,...,20.150,19.265,21.4150,24.6365,11.2050,20.685,16.815,18.465,14.545,38.7781

In [65]:
len(meses_limpios.iloc[0,:])

32

In [70]:
meses_limpios.iloc[3,:].isnull()

D01        False
D02        False
D03        False
D04        False
D05        False
D06        False
D07        False
D08        False
D09        False
D10        False
D11        False
D12        False
D13        False
D14        False
D15        False
D16        False
D17        False
D18        False
D19        False
D20        False
D21        False
D22        False
D23        False
D24        False
D25        False
D26        False
D27        False
D28        False
D29        False
D30        False
D31         True
totales    False
Name: 4, dtype: bool

In [72]:
meses_limpios.isnull().sum(axis=1)

MES
1     0
2     3
3     0
4     1
5     0
6     1
7     0
8     0
9     1
10    0
11    1
12    0
dtype: int64

In [73]:
meses_limpios.isnull().sum(axis=1).tolist()

[0, 3, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0]

In [92]:
media_mes1= meses_limpios.iloc[0].sum()/31

In [93]:
media_mes1

39.007864516129025

In [ ]:
media_mes2 = (meses_limpios.iloc[1].sum())/

In [89]:
meses_limpios.drop(['totales'], axis=1)

,D01,D02,D03,D04,D05,D06,D07,D08,D09,D10,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
MES,,,,,,,,,,,,,,,,,,,,,
1,9.2100,15.150,28.7500,17.0400,11.6900,6.9900,18.1100,21.5700,17.0300,41.1200,...,17.3540,18.0600,11.0500,17.1239,12.6400,20.7200,31.0790,24.7000,32.9300,27.3313
2,22.8800,10.660,11.1370,28.0000,18.5700,33.5431,12.7600,23.1600,14.3400,23.2900,...,18.8700,17.9200,21.2415,32.8100,18.4600,16.2400,29.9500,NaN,NaN,NaN
3,22.6700,32.605,10.8900,27.5200,37.6900,24.0900,24.6700,95.1708,15.4400,18.0700,...,17.2800,21.4200,14.7500,26.3800,33.7112,25.6300,23.6200,30.4000,13.8100,12.5300
4,24.7715,21.280,19.7400,20.8600,15.0900,18.4200,31.0631,24.7800,11.0100,24.9800,...,121.3100,24.7000,20.9000,31.6145,28.2700,13.9900,11.8800,18.3700,24.1900,NaN
5,22.5800,17.160,23.1100,17.3600,36.9700,20.9300,52.5361,14.0900,17.0600,15.4900,...,20.1500,19.2650,21.4150,24.6365,11.2050,20.6850,16.8150,18.4650,14.5450,38.7781
6,20.1850,31.805,28.9900,18.0200,16.4100,49.9415,21.7300,10.0800,9.3900,29.2700,...,19.1150,12.4300,34.5201,20.5400,17.9700,15.7100,17.5709,22.3500,17.7937,NaN
7,27.8800,20.130,12.6600,26.9800,25.9200,30.7137,11.5300,38.7800,29.2200,36.6900,...,16.9300,17.9400,37.5973,16.5100,8.3900,16.6300,7.4700,19.2000,35.3016,24.1600
8,27.1800,20.960,11.1700,19.4600,43.8667,15.3300,25.8300,12.5500,21.1400,22.0700,...,20.4700,35.2731,16.1700,11.3500,30.9200,13.9700,15.8800,37.7161,30.5500,12.8100
9,28.7200,35.180,19.4600,39.0394,28.6100,18.2500,36.7900,11.4000,34.2800,27.7715,...,49.0240,29.6110,17.5800,24.2400,25.0800,29.7800,15.6533,15.0810,25.4980,NaN
10,12.1800,28.900,27.1900,28.9008,20.9000,9.3000,31.2400,13.4900,17.2300,26.4467,...,20.7878,13.8800,25.6100,27.6100,11.5300,23.5400,44.8316,19.2500,21.9290,22.6600
11,17.0600,21.560,19.8058,33.4200,18.7500,15.4000,22.2400,15.7200,23.5423,9.2700,...,15.4400,16.9900,16.8000,38.3870,15.1000,33.7829,25.3200,21.1900,25.9600,NaN
12,9.4600,33.030,35.7624,28.7800,22.9700,13.2100,16.9000,11.2800,31.8271,32.0500,...,14.0600,50.9000,23.0400,15.8900,14.7700,25.4508,17.2600,10.7200,21.8080,26.3900

In [18]:
meses_limpios['totales'] = meses_limpios.sum(axis=1)

In [19]:
meses_limpios

,D01,D02,D03,D04,D05,D06,D07,D08,D09,D10,...,D23,D24,D25,D26,D27,D28,D29,D30,D31,totales
MES,,,,,,,,,,,,,,,,,,,,,
1,9.2100,15.150,28.7500,17.0400,11.6900,6.9900,18.1100,21.5700,17.0300,41.1200,...,18.0600,11.0500,17.1239,12.6400,20.7200,31.0790,24.7000,32.9300,27.3313,604.6219
2,22.8800,10.660,11.1370,28.0000,18.5700,33.5431,12.7600,23.1600,14.3400,23.2900,...,17.9200,21.2415,32.8100,18.4600,16.2400,29.9500,NaN,NaN,NaN,656.1222
3,22.6700,32.605,10.8900,27.5200,37.6900,24.0900,24.6700,95.1708,15.4400,18.0700,...,21.4200,14.7500,26.3800,33.7112,25.6300,23.6200,30.4000,13.8100,12.5300,779.5555
4,24.7715,21.280,19.7400,20.8600,15.0900,18.4200,31.0631,24.7800,11.0100,24.9800,...,24.7000,20.9000,31.6145,28.2700,13.9900,11.8800,18.3700,24.1900,NaN,783.4837
5,22.5800,17.160,23.1100,17.3600,36.9700,20.9300,52.5361,14.0900,17.0600,15.4900,...,19.2650,21.4150,24.6365,11.2050,20.6850,16.8150,18.4650,14.5450,38.7781,729.6643
6,20.1850,31.805,28.9900,18.0200,16.4100,49.9415,21.7300,10.0800,9.3900,29.2700,...,12.4300,34.5201,20.5400,17.9700,15.7100,17.5709,22.3500,17.7937,NaN,635.5998
7,27.8800,20.130,12.6600,26.9800,25.9200,30.7137,11.5300,38.7800,29.2200,36.6900,...,17.9400,37.5973,16.5100,8.3900,16.6300,7.4700,19.2000,35.3016,24.1600,764.8983
8,27.1800,20.960,11.1700,19.4600,43.8667,15.3300,25.8300,12.5500,21.1400,22.0700,...,35.2731,16.1700,11.3500,30.9200,13.9700,15.8800,37.7161,30.5500,12.8100,645.8446
9,28.7200,35.180,19.4600,39.0394,28.6100,18.2500,36.7900,11.4000,34.2800,27.7715,...,29.6110,17.5800,24.2400,25.0800,29.7800,15.6533,15.0810,25.4980,NaN,728.1605
10,12.1800,28.900,27.1900,28.9008,20.9000,9.3000,31.2400,13.4900,17.2300,26.4467,...,13.8800,25.6100,27.6100,11.5300,23.5400,44.8316,19.2500,21.9290,22.6600,659.5280
11,17.0600,21.560,19.8058,33.4200,18.7500,15.4000,22.2400,15.7200,23.5423,9.2700,...,16.9900,16.8000,38.3870,15.1000,33.7829,25.3200,21.1900,25.9600,NaN,625.1242
12,9.4600,33.030,35.7624,28.7800,22.9700,13.2100,16.9000,11.2800,31.8271,32.0500,...,50.9000,23.0400,15.8900,14.7700,25.4508,17.2600,10.7200,21.8080,26.3900,746.5951

Si queremos sumar sólo una serie columnas, podemos crear una lista de columnas con las que deseemos:
    
col_list= list(df)
col_list.remove('d')
col_list
Out[98]:
['a', 'b', 'c']
In [99]:

df['e'] = df[col_list].sum(axis=1)
df

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1179 entries, 0 to 1178
Data columns (total 38 columns):
PROVINCIA         1179 non-null int64
MUNICIPIO         1179 non-null int64
ESTACION          1179 non-null int64
MAGNITUD          1179 non-null int64
PUNTO_MUESTREO    1179 non-null object
ANNO              1179 non-null int64
MES               1179 non-null int64
D01               357 non-null float64
D02               375 non-null float64
D03               340 non-null float64
D04               437 non-null float64
D05               354 non-null float64
D06               363 non-null float64
D07               395 non-null float64
D08               350 non-null float64
D09               331 non-null float64
D10               471 non-null float64
D11               303 non-null float64
D12               431 non-null float64
D13               356 non-null float64
D14               342 non-null float64
D15               400 non-null float64
D16               377 non-null float64
D17               400 non-null float64
D18               419 non-null float64
D19               385 non-null float64
D20               395 non-null float64
D21               403 non-null float64
D22               387 non-null float64
D23               395 non-null float64
D24               378 non-null float64
D25               446 non-null float64
D26               311 non-null float64
D27               387 non-null float64
D28               391 non-null float64
D29               324 non-null float64
D30               425 non-null float64
D31               186 non-null float64
dtypes: float64(31), int64(6), object(1)
memory usage: 350.1+ KB

In [22]:
df.describe()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,ANNO,MES,D01,D02,D03,D04,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
count,1179.000000,1179.000000,1179.000000,1179.0,1179.0,1179.000000,357.000000,375.000000,340.000000,437.000000,...,387.000000,395.000000,378.000000,446.000000,311.000000,387.000000,391.000000,324.000000,425.000000,186.000000
mean,18.732824,87.834606,21.870229,17.0,2013.0,6.525021,0.685648,0.769120,0.731368,0.698811,...,0.906436,0.704783,0.689613,0.643704,0.733268,0.661831,0.658132,0.732846,0.621918,0.885266
std,14.272834,110.040280,111.854627,0.0,0.0,3.451829,0.665208,1.296994,0.703132,0.747359,...,3.661189,0.809804,0.814522,0.691704,0.795585,0.833787,0.709271,1.277953,0.706471,1.407992
min,1.000000,2.000000,1.000000,17.0,2013.0,1.000000,0.005000,0.000000,0.050000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.005000
25%,8.000000,20.000000,2.000000,17.0,2013.0,3.000000,0.230000,0.250000,0.270000,0.240000,...,0.200000,0.270000,0.200000,0.202500,0.245000,0.230000,0.200000,0.200000,0.200000,0.302500
50%,12.000000,59.000000,4.000000,17.0,2013.0,7.000000,0.560000,0.570000,0.605000,0.550000,...,0.540000,0.560000,0.560000,0.550000,0.600000,0.550000,0.550000,0.560000,0.400000,0.670000
75%,28.000000,120.000000,8.000000,17.0,2013.0,10.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,50.000000,902.000000,999.000000,17.0,2013.0,12.000000,5.600000,22.000000,5.600000,6.100000,...,69.000000,10.940000,7.900000,9.150000,7.600000,11.000000,8.100000,21.000000,7.200000,13.370000

In [23]:
df.append(df.sum(numeric_only=True), ignore_index=True)

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,D01,D02,D03,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,12.0,135.0,4.0,17.0,12135004_17_M,2013.0,4.0,NaN,NaN,NaN,...,0.3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12.0,135.0,4.0,17.0,12135004_17_M,2013.0,6.0,0.3500,NaN,1.5000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6700,NaN,NaN
2,12.0,135.0,4.0,17.0,12135004_17_M,2013.0,7.0,1.3900,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6900,NaN,NaN
3,12.0,135.0,4.0,17.0,12135004_17_M,2013.0,8.0,2.2100,1.660,NaN,...,NaN,NaN,0.9700,NaN,2.5000,NaN,NaN,3.6400,2.6500,NaN
4,12.0,135.0,4.0,17.0,12135004_17_M,2013.0,9.0,1.2600,1.120,NaN,...,NaN,1.6700,NaN,NaN,1.1100,1.6600,NaN,0.5500,1.5100,NaN
5,12.0,135.0,4.0,17.0,12135004_17_M,2013.0,10.0,NaN,NaN,1.3800,...,NaN,NaN,1.1100,2.2300,NaN,1.8100,2.3600,NaN,0.7000,NaN
6,12.0,135.0,4.0,17.0,12135004_17_M,2013.0,11.0,NaN,1.690,NaN,...,0.2100,NaN,0.0700,NaN,NaN,0.5000,NaN,NaN,2.8300,NaN
7,12.0,135.0,4.0,17.0,12135004_17_M,2013.0,12.0,NaN,0.570,NaN,...,NaN,2.3700,NaN,0.1400,NaN,NaN,2.8800,NaN,0.7000,NaN
8,12.0,124.0,1.0,17.0,12124001_17_M,2013.0,1.0,NaN,NaN,NaN,...,NaN,0.3500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,12.0,124.0,1.0,17.0,12124001_17_M,2013.0,2.0,NaN,NaN,NaN,...,NaN,0.3500,NaN,0.3500,NaN,NaN,NaN,NaN,NaN,NaN
10,12.0,124.0,1.0,17.0,12124001_17_M,2013.0,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12.0,124.0,1.0,17.0,12124001_17_M,2013.0,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,124.0,1.0,17.0,12124001_17_M,2013.0,6.0,0.3500,NaN,0.8200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7000,NaN,NaN
13,12.0,124.0,1.0,17.0,12124001_17_M,2013.0,7.0,0.5600,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.5500,NaN,0.5600,NaN,NaN
14,12.0,124.0,1.0,17.0,12124001_17_M,2013.0,8.0,2.7700,1.800,NaN,...,NaN,NaN,0.5600,NaN,NaN,NaN,NaN,0.2800,0.9800,NaN
15,12.0,124.0,1.0,17.0,12124001_17_M,2013.0,9.0,1.9600,1.260,NaN,...,NaN,0.7000,NaN,NaN,NaN,NaN,NaN,0.4200,0.6900,NaN
16,12.0,124.0,1.0,17.0,12124001_17_M,2013.0,10.0,NaN,NaN,0.1400,...,NaN,NaN,0.8400,0.4200,NaN,0.9800,0.5600,NaN,0.1400,NaN
17,12.0,124.0,1.0,17.0,12124001_17_M,2013.0,11.0,NaN,0.710,NaN,...,0.0000,NaN,0.0700,NaN,NaN,0.0700,NaN,NaN,0.1400,NaN
18,12.0,124.0,1.0,17.0,12124001_17_M,2013.0,12.0,NaN,0.280,NaN,...,NaN,0.8500,NaN,0.1400,NaN,NaN,NaN,NaN,NaN,NaN
19,12.0,135.0,4.0,17.0,12135004_17_M,2013.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,12.0,135.0,4.0,17.0,12135004_17_M,2013.0,2.0,NaN,NaN,NaN,...,NaN,0.3500,NaN,0.3500,NaN,NaN,NaN,NaN,NaN,NaN
21,12.0,135.0,4.0,17.0,12135004_17_M,2013.0,3.0,NaN,NaN,NaN,...,NaN,1.2400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,46.0,250.0,43.0,17.0,46250043_17_M,2013.0,7.0,0.1400,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,46.0,250.0,43.0,17.0,46250043_17_M,2013.0,8.0,0.2700,0.140,NaN,...,0.1400,NaN,0.2700,NaN,NaN,NaN,NaN,0.1400,0.2800,NaN
24,46.0,250.0,43.0,17.0,46250043_17_M,2013.0,9.0,0.6900,0.550,NaN,...,NaN,0.2800,NaN,NaN,0.4100,0.4100,NaN,NaN,NaN,NaN
25,46.0,250.0,43.0,17.0,46250043_17_M,2013.0,10.0,NaN,NaN,0.2700,...,NaN,NaN,0.2800,0.4100,NaN,0.4100,0.5500,NaN,NaN,NaN
26,46.0,250.0,43.0,17.0,46250043_17_M,2013.0,11.0,NaN,0.280,NaN,...,0.0700,NaN,0.0700,NaN,NaN,0.2100,NaN,NaN,0.2800,NaN
27,46.0,250.0,43.0,17.0,46250043_17_M,2013.0,12.0,NaN,0.420,NaN,...,NaN,0.4200,NaN,0.1400,NaN,NaN,0.1400,NaN,0.2800,NaN
28,46.0,250.0,43.0,17.0,46250043_17_M,2013.0,1.0,NaN,NaN,0.3500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3500,NaN
29,46.0,250.0,43.0,17.0,46250043_17_M,2013.0,2.0,0.3500,NaN,NaN,...,NaN,0.3500,NaN,0.3500,NaN,NaN,0.3500,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1150,2.0,3.0,1.0,17.0,02003001_17_M,2013.0,8.0,NaN,NaN,NaN,...,NaN,0.7000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1151,13.0,71.0,15.0,17.0,13071015_17_M,2013.0,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1152,13.0,71.0,15.0,17.0,13071015_17_M,2013.0,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7000,NaN
1153,45.0,168.0,2.0,17.0,45168002_17_M,2013.0,6.0,NaN,NaN,NaN,...,NaN,NaN,0.7000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1154,45.0,168.0,2.0,17.0,45168002_17_M,2013.0,7.0,0.7000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1155,11.0,33.0,10.0,17.0,11033010_17_M,2013.0,1.0,NaN,NaN,NaN,...,0.5100,NaN,NaN,NaN,NaN,NaN,0.3100,NaN,NaN,1.2000
1156,11.0,33.0,10.0,17.0,11033010_17_M,2013.0,2.0,1.1000,0.540,0.0770,...,NaN,NaN,0.6200,NaN,NaN,NaN,0.4100,NaN,NaN,NaN
1157,11.0,33.0,10.0,17.0,11033010_17_M,2013.0,3.0,0.8900,0.220,0.2500,...,NaN,NaN,NaN,0.8400,0.6200,0.1700,0.2100,0.1900,0.2000,0.1300
1158,11.0,33.0,10.0,17.0,11033010_17_M,2013.0,4.0,0.3600,0.390,0.2400,...,0.9700,0.2500,0.2900,0.6400,1.3000,0.7500,0.7400,0.8400,0.5800,NaN
1159,11.0,33.0,10.0,17.0,11033010_17_M,2013.0,5.0,0.2300,2.100,2.1000,...,NaN,0.0050,0.0050,0.0050,0.0050,0.0050,0.0050,0.0050,0.0050,0.0050
1160,11.0,33.0,10.0,17.0,11033010_17_M,2013.0,6.0,0.0050,0.005,NaN,...,0.0050,0.1200,0.0470,0.1700,0.2400,0.2800,0.0099,0.2300,0.2300,NaN
1161,11.0,33.0,10.0,17.0,11033010_17_M,2013.0,7.0,NaN,NaN,NaN,...,NaN,NaN,6.0000,NaN,NaN,NaN,NaN,NaN,7.2000,1.0000
1162,11.0,33.0,10.0,17.0,11033010_17_M,2013.0,8.0,0.7500,0.230,0.7500,...,NaN,0.4200,NaN,NaN,0.3400,0.3400,0.3100,0.2200,0.1700,0.1900
1163,11.0,33.0,10.0,17.0,11033010_17_M,2013.0,9.0,0.3900,0.370,0.2300,...,0.1600,0.2300,0.2300,0.3800,0.4200,0.5500,0.1500,0.1500,NaN,NaN
1164,11.0,33.0,10.0,17.0,11033010_17_M,2013.0,10.0,0.3800,4.900,5.6000,...,0.2600,0.3400,0.8400,0.6000,0.3700,0.2000,1.4000,0.4900,0.5000,0.1700
1165,11.0,33.0,10.0,17.0,11033010_17_M,2013.0,11.0,0.1800,0.170,0.7900,...,0.5300,0.4400,0.3600,0.6800,1.0000,0.7100,0.4900,0.4900,0.9300,NaN
1166,11.0,33.0,10.0,17.0,11033010_17_M,2013.0,12.0,0.3300,NaN,0.1600,...,0.1200,0.2200,0.3800,0.4000,0.2800,0.2100,0.3200,0.2300,NaN,NaN
1167,18.0,87.0,10.0,17.0,18087010_17_M,2013.0,1.0,NaN,NaN,NaN,...,0.2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1168,18.0,87.0,10.0,17.0,18087010_17_M,2013.0,2.0,NaN,NaN,NaN,...,NaN,NaN,0.2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1169,18.0,87.0,10.0,17.0,18087010_17_M,2013.0,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,NaN,NaN
1170,18.0,87.0,10.0,17.0,18087010_17_M,2013.0,4.0,0.2000,NaN,NaN,...,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,NaN,NaN,NaN
1171,18.0,87.0,10.0,17.0,18087010_17_M,2013.0,5.0,0.2000,NaN,NaN,...,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,NaN,NaN,0.2000
1172,18.0,87.0,10.0,17.0,18087010_17_M,2013.0,6.0,NaN,NaN,NaN,...,NaN,NaN,0.2000,NaN,NaN,NaN,NaN,NaN,0.2000,NaN
1173,18.0,87.0,10.0,17.0,18087010_17_M,2013.0,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1174,18.0,87.0,10.0,17.0,18087010_17_M,2013.0,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2200,NaN,NaN
1175,18.0,87.0,10.0,17.0,18087010_17_M,2013.0,9.0,NaN,NaN,NaN,...,0.2400,NaN,NaN,NaN,NaN,NaN,0.1800,NaN,NaN,NaN
1176,18.0,87.0,10.0,17.0,18087010_17_M,2013.0,10.0,NaN,NaN,NaN,...,0.2400,NaN,NaN,NaN,NaN,NaN,0.3800,NaN,NaN,NaN
1177,18.0,87.0,10.0,17.0,18087010_17_M,2013.0,11.0,NaN,NaN,0.2700,...,NaN,NaN,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,NaN
1178,18.0,87.0,10.0,17.0,18087010_17_M,2013.0,12.0,NaN,NaN,0.2300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1179,22086.0,103557.0,25785.0,20043.0,NaN,2373327.0,7693.0,244.7765,288.420,248.6652,...,350.7908,278.3891,260.6739,287.0919,228.0462,256.1287,257.3298,237.4421,264.3153,164.6594

In [25]:
df.loc['Totales'] = df.sum()

In [26]:
df.tail()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,D01,D02,D03,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
1175,18,87,10,17,18087010_17_M,2013,9,NaN,NaN,NaN,...,0.2400,NaN,NaN,NaN,NaN,NaN,0.1800,NaN,NaN,NaN
1176,18,87,10,17,18087010_17_M,2013,10,NaN,NaN,NaN,...,0.2400,NaN,NaN,NaN,NaN,NaN,0.3800,NaN,NaN,NaN
1177,18,87,10,17,18087010_17_M,2013,11,NaN,NaN,0.2700,...,NaN,NaN,NaN,NaN,NaN,0.2000,NaN,NaN,NaN,NaN
1178,18,87,10,17,18087010_17_M,2013,12,NaN,NaN,0.2300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Totales,44172,207114,51570,40086,12135004_17_M12135004_17_M12135004_17_M1213500...,4746654,15386,489.553,576.84,497.3304,...,701.5816,556.7782,521.3478,574.1838,456.0924,512.2574,514.6596,474.8842,528.6306,329.3188

In [17]:
df.loc['Totales']

PROVINCIA                                                     22086
MUNICIPIO                                                    103557
ESTACION                                                      25785
MAGNITUD                                                      20043
PUNTO_MUESTREO    12135004_17_M12135004_17_M12135004_17_M1213500...
ANNO                                                        2373327
MES                                                            7693
D01                                                         244.776
D02                                                          288.42
D03                                                         248.665
D04                                                          305.38
D05                                                         297.437
D06                                                         256.118
D07                                                         305.399
D08                                                         292.071
D09                                                         241.509
D10                                                         306.518
D11                                                         259.343
D12                                                         275.256
D13                                                         268.343
D14                                                         230.498
D15                                                         253.655
D16                                                         257.767
D17                                                         292.709
D18                                                         293.174
D19                                                         277.112
D20                                                         311.315
D21                                                         268.864
D22                                                         350.791
D23                                                         278.389
D24                                                         260.674
D25                                                         287.092
D26                                                         228.046
D27                                                         256.129
D28                                                          257.33
D29                                                         237.442
D30                                                         264.315
D31                                                         164.659
Name: Totales, dtype: object

In [18]:
df= df.drop(['Total'], axis=1)

In [19]:
df.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,D01,D02,D03,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,12,135,4,17,12135004_17_M,2013,4,NaN,NaN,NaN,...,0.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12,135,4,17,12135004_17_M,2013,6,0.35,NaN,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.67,NaN,NaN
2,12,135,4,17,12135004_17_M,2013,7,1.39,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.69,NaN,NaN
3,12,135,4,17,12135004_17_M,2013,8,2.21,1.66,NaN,...,NaN,NaN,0.97,NaN,2.50,NaN,NaN,3.64,2.65,NaN
4,12,135,4,17,12135004_17_M,2013,9,1.26,1.12,NaN,...,NaN,1.67,NaN,NaN,1.11,1.66,NaN,0.55,1.51,NaN

In [20]:
df.columns

Index(['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'PUNTO_MUESTREO',
       'ANNO', 'MES', 'D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08',
       'D09', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16', 'D17', 'D18',
       'D19', 'D20', 'D21', 'D22', 'D23', 'D24', 'D25', 'D26', 'D27', 'D28',
       'D29', 'D30', 'D31'],
      dtype='object')

In [21]:
len(df.columns)

38

In [50]:
total = df.sum()

In [51]:
print(total)

PROVINCIA                                                     22086
MUNICIPIO                                                    103557
ESTACION                                                      25785
MAGNITUD                                                      20043
PUNTO_MUESTREO    12135004_17_M12135004_17_M12135004_17_M1213500...
ANNO                                                        2373327
MES                                                            7693
D01                                                         244.776
D02                                                          288.42
D03                                                         248.665
D04                                                          305.38
D05                                                         297.437
D06                                                         256.118
D07                                                         305.399
D08                                                         292.071
D09                                                         241.509
D10                                                         306.518
D11                                                         259.343
D12                                                         275.256
D13                                                         268.343
D14                                                         230.498
D15                                                         253.655
D16                                                         257.767
D17                                                         292.709
D18                                                         293.174
D19                                                         277.112
D20                                                         311.315
D21                                                         268.864
D22                                                         350.791
D23                                                         278.389
D24                                                         260.674
D25                                                         287.092
D26                                                         228.046
D27                                                         256.129
D28                                                          257.33
D29                                                         237.442
D30                                                         264.315
D31                                                         164.659
dtype: object